{% extends 'base.html' %}

{% block content %}

@sardanahit @yFr44uoGObWOkhW Sahi kaha sir aisa hai ineh bahana chaiye kisi bhi terah Modi gov ko fasane ka or koi mudda inke paas hai nahi<br><br>RT @JMehta65: Matured people should wait for events to unfold..After #URI many of Modi supporters were taunting him for 56'.We know wht hap<br><br>RT @terikahkelunga: Modi ji implemented #OROP in army,Kejriwal and Rahul are trying to implement #OROP(One Rashan One Pappu) #GagaOverRaGa<br><br>RT @Mohitmsood:    #    ; 
Modi   #        #__ NDTV Ban lifted u-tur<br><br>RT @MonaAmbegaonkar: @narendramodi should immediately say yes &amp; take back #Indian overstayers in UK  After all we are in the middle of #A<br><br>RT @SirJadeja: #OROP Was Delivered By Sonia Gandhi With Help Of Rajiv Gandhi. Modi ji Is Taking Fake Credit.

#OROP = One Rahul One Priyank<br><br>Theresa May goes barefoot to meet Indian PM Narendra Modi and plays hard ball over illegal immigrants https://t.co/PJ6K3grYlh<br><br>RT @ggiittiikkaa: Seems I&amp;B ministry put on hold the ban against NDTV. Does that mean Modi Sarkar finds nothing wrong in leaking Pathankot<br><br>RT @hindustanse: #Mind_it.....Muslim Voted Modiji as CM twice in Gujarat..OK &gt;&gt;#MullahyamSingh RT @yadavakhilesh 
https://t.co/xAPR9NwaSg h<br><br>MSM "prestitutes" vs Modi Govt "hindus".... @Janamejayan @kalps1616 https://t.co/q4mBo3Glxa<br><br>RT @wyatthood1997: Hopes for U.K. Trade Deal With India Hit a Snag: Immigration https://t.co/lGuMRKBodC<br><br>RT @gsurya: Dei @MVenkaiahNaidu is it true NDTV threatened to release secret footage of 2002 riots &amp; #snoopgate that wud directly implicate<br><br>RT @SirJadeja: BREAKING: #__ #OROP Was Delivered By Rajiv Gandhi  And Sonia Gandhi. Modi ji Is Taking Fake Credit.

#OROP = One Ra<br><br>Modi and Lutyens' snakes https://t.co/SifNUHPqeR<br><br>RT @Mitalishah121: What a tragedy women politician r ready to sacrifice women interests for mere vote bank. Irony Modi being man fighting f<br><br>

{% endblock %}